<!DOCTYPE html>
<html>
  <head>
    <title>Bio-Route Optimizer</title>
  </head>
  <body>
    <h1>ACO Vehicle Routing</h1>
    <form action="/run" method="post">
      <label>Number of ants:</label>
      <input type="number" name="num_ants" value="3" /><br />
      <label>Iterations:</label>
      <input type="number" name="iterations" value="10" /><br />
      <label>Number of vehicles:</label>
      <input type="number" name="num_vehicles" value="2" /><br />
      <label>Vehicle capacity:</label>
      <input type="number" name="capacity" value="1000" /><br /><br />
      <button type="submit">Run</button>
    </form>
  </body>
</html>
